asgiref==3.7.2
cffi==1.16.0
cryptography==41.0.5
dj-static==0.0.6
Django==4.2.7
django-cors-headers==4.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
docopt==0.6.2
env==0.1.0
gitignore==0.0.8
Pillow==10.1.0

pycparser==2.21
PyJWT==2.8.0
pytz==2023.3.post1
sqlparse==0.4.4
static3==0.7.0
tzdata==2023.3
whitenoise==6.6.0


boto3
botocore
certifi
charset-normalizer
cloudinary
dj3-cloudinary-storage

django-storages
gunicorn
idna
jmespath

psycopg2-binary
python-dateutil
requests
s3transfer
six

tzdata
urllib3
